* {
  box-sizing: border-box;
  --text: #333338;
  --accueil: #CD6155; /* POMEGRANATE */
  --theme1: #AF7AC5; /* AMETHYST */
  --theme2: #5499C7; /* BELIZE HOLE */
  --theme3: #48C9B0; /* TURQUOISE */
  --theme4: #52BE80; /* NEPHRITIS */
  --theme5: #F4D03F; /* SUNFLOWER */
  --theme6: #EB984E; /* CARROT */
  --disable: #AAB7B8; /* CONCRETE */
}
#top-bar {
  position: relative;
  background-color: white;
  border-bottom: solid black 1px;
  margin: 0;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  align-items: center;
}
#top-bar h1 {
  margin: 0;
  margin-left: 1.5em;
}
#menu {
  margin: 0;
  list-style: none;
  margin-left: 3em;
  margin-right: 5.9em;
}
#menu a {
  text-decoration: none;
  padding: 10px;
  /* width: 4em; */
  border: solid 1px black;
  margin: 1em;
  border-radius: 10px;
  text-align: center;
  float: left;
}
#menu a {
  color: black;
  font-weight: 500;
  transition: transform 0.3s ease;
}
#menu a:hover.enable {
  transform: scale(110%);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);;
}
#menu a.enable.zero {
  background-color: var(--accueil);
}
#menu a.enable.one {
  background-color: var(--theme1);
}
#menu a.enable.two {
  background-color: var(--theme2);
}
#menu a.enable.three {
  background-color: var(--theme3);
}
#menu a.enable.four {
  background-color: var(--theme4);
}
#menu a.enable.five {
  background-color: var(--theme5);
}
#menu a.enable.six {
  background-color: var(--theme6);
}
#menu .disable {
  background-color: var(--disable);
  font-weight: bold;
  text-decoration: underline;
}
#menu button {
  position: absolute;
  z-index: 1;
  right: 1em;
  padding: 10px;
  margin: 1em;
  border: solid 1px black;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);;
  z-index: 4;
}
#menu button.showed {
  position: fixed;
}
#menu button:hover {
  transform: scale(110%);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);;
}

#menuDiv {
  display: none; /* Securité si le js ne se charge pas */
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: rgb(37, 37, 37);
  transform: scale(0%);
  transition: transform 0.8s ease;
  z-index: 3;
}
#menuDiv.showed {
  transform: scale(100%);
  transition: transform 0.8s ease;
}
#menuDiv .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}
#menuDiv .grid div {
  position: relative;
  margin: 1rem;
  overflow: hidden;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}
#menuDiv .grid div:hover {
  transform: scale(105%);
  transition: transform 0.3s ease;
}
#menuDiv .grid div img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
#menuDiv a {
  text-decoration: none;
}
#menuDiv h2 {
  color: var(--text);
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}
#menuDiv h1 {
  color: var(--text);
  padding: 0.3em 0.5em 0.5em 0.5em;
  margin: 0;
}
#menuDiv .grid .theme1 {
  background-color: var(--theme1);
}
#menuDiv .grid .theme1 img {
  background-color: black;
}
#menuDiv .grid .theme2 {
  background-color: var(--theme2);
}
#menuDiv .grid .theme3 {
  background-color: var(--theme3);
}
#menuDiv .grid .theme4 {
  background-color: var(--theme4);
}
#menuDiv .grid .theme5 {
  background-color: var(--theme5);
}
#menuDiv .grid .theme6 {
  background-color: var(--theme6);
}
