* {
  font-family: "Inter var", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu,
    Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-color: #ECF0F1;
  margin: 0;
}

section {
  display: flex;
  align-items: center;
}
#presentation {
  margin: 2em;
  padding: 1.5em 3em 2em 3em;
  width: 30em;
  background-color: white;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%),
    0 50px 100px -20px rgb(50 50 93 / 30%), 0 30px 60px -30px rgb(0 0 0 / 50%),
    -10px 10px 60px -10px rgb(103 178 111 / 30%);
  
}
#presentation p {
  color: #333338;
  text-align: justify;
}

/* Carousel */
#slider {
  display: flex;
  align-items: center;
  height: 300px;
  width: 500px;
}

.slide img {
  object-fit: cover;
  width: 500px;
  height: 300px;
}
/* .slide p {
   
} */
#buttonDiv {
  display: block;
}
#buttonDiv a {
  /* position: relative;  */
  width: auto;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}
#buttonDiv a.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
}
#buttonDiv a.next {
  right: 0;
  border-radius: 0 5px 5px 0;
}
#buttonDiv a:hover {
  background-color: #636363;
}


footer {
  display: flex;
  align-items: center;
}
#linkLycee {
  display: flex;
  align-items: center;
  width: 405px;
  padding: 1em 2.5em 1em 2.5em;
  margin: 2em;
  height: 100px;
  background-color: white;
  color: #333338;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%),
    0 50px 100px -20px rgb(50 50 93 / 30%), 0 30px 60px -30px rgb(0 0 0 / 50%),
    -10px 10px 60px -10px rgb(103 178 111 / 30%);
}
#linkLycee img {
  width: 10em;
  padding-right: 2em;
}
#linkDoc {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 405px; */
  height: 100px;
  padding: 1em 0.5em 1em 2.5em;
  margin: 2em;
  background-color: white;
  color: #333338;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%),
    0 50px 100px -20px rgb(50 50 93 / 30%), 0 30px 60px -30px rgb(0 0 0 / 50%),
    -10px 10px 60px -10px rgb(103 178 111 / 30%);
}
#linkDoc svg {
  align-self: center;
  width: 15em;
  padding-right: 2em;
}
