section {
  display: flex;
  align-items: center;
}
#presentation {
  margin: 2em;
  padding: 1.5em 3em 2em 3em;
  width: 30em;
  background-color: white;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%),
    0 50px 100px -20px rgb(50 50 93 / 30%), 0 30px 60px -30px rgb(0 0 0 / 50%),
    -10px 10px 60px -10px rgb(103 178 111 / 30%);
}
#presentation p {
  color: #333338;
  text-align: justify;
}

/* Carousel */
#carousel {
  display: grid;
  grid-template-columns: 6% 91% 6%;
  grid-template-rows: 100%;
  padding: 25px 40px 25px 25px;
  margin: 2em;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%),
    0 50px 100px -20px rgb(50 50 93 / 30%), 0 30px 60px -30px rgb(0 0 0 / 50%),
    -10px 10px 60px -10px rgb(103 178 111 / 30%);
}
.slidesView {
  grid-column: 2;
  grid-row: 1;
}
.slide img {
  object-fit: cover;
  width: 600px;
  height: 400px;
}
#buttonDiv {
  display: block;
}
#carousel a {
  /* Position and Size */
  position: relative;
  height: 2.8em;
  padding: 10px;
  /* Text */
  font-weight: bold;
  font-size: 20px;
  padding: 12.5px 10px 0 10px;
  text-align: center;
  /* Visual */
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
#carousel a.prev {
  border-radius: 5px 0 0 5px;
}
#carousel a.next {
  border-radius: 0 5px 5px 0;
}
#carousel a:hover {
  background-color: #636363;
}
/* TODO Add text */

footer {
  display: flex;
  align-items: center;
}

footer div {
  margin: 2em 2em 2em 2em;
  display: flex;
  padding: 1em 1.5em 1em 1.5em;
  align-items: center;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
  border-radius: 20px;
  color: #333338;
  font-size: 20px;
}
footer a img {
  max-width: 10em;
  padding-right: 1.5em;
  max-height: 70px;
}
footer a img.mdn {
  max-width: 100%;
  max-height: 80px;
  padding: 0;
}
