h1 {
  margin-top: 1em;
  text-align: center;
}
h2 {
  margin: 2em 2em 1em 2em;
}
ul {
  padding-left: 20px;
}
.animaux-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}
#product {
  display: flex;
  width: 350px;
  height: 425px;
  margin: 1em;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
}
#product section.images {
  height: 250px;
}
#product img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
#product h2 {
  color: var(--text);
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}
#product h1 {
  color: var(--text);
  padding: 0.7em 0.5em 0.5em 0.5em;
  margin: 0;
}
#animaux-grid .product .pay {
  display: flex;
  align-items: center;
  justify-content: center;
}
#product .pay * {
  padding-left: 17px;
  padding-right: 17px;
}
#product button {
  font-size: 30px;
  /* color: #065fd4; */
  padding: 10px 10px 10px 10px;
  margin-top: 0.5em;
  background-color: #F4D03F;
  border-radius: 10px;
  border: 1px solid var(--text);
  transition: transform 0.3s ease;
}
#product button:hover {
  transform: scale(105%);
  transition: transform 0.3s ease;
}