h1 {
  margin-top: 1em;
  text-align: center;
}
h2 {
  margin: 2em 2em 1em 2em;
}
ul {
  padding-left: 20px;
}
div.doc {
  padding: 1.5em 3em 2em 3em;
  margin: 1em;
  /* width: 30em; */
  background-color: white;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%),
    0 50px 100px -20px rgb(50 50 93 / 30%), 0 30px 60px -30px rgb(0 0 0 / 50%),
    -10px 10px 60px -10px rgb(103 178 111 / 30%);
  line-height: 1.5;
  font-size: 1p6x;
}
section.t {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  align-items: 
}
/* --------------------------------- Thème 1 -------------------------------- */
#t1 {
  background-color: rgb(255, 158, 158);
}

@media screen and (min-width: 1300px) {
  .pdf1 {
    margin: 1em 1em 1em 2em;
    width: 72%;
    height: 800px;
    border-radius: 7px;
  }
  .girafe {
    height: 800px;
    width: 20%;
    border-radius: 10px;
    margin: 1em 1em 1em 2em;
  }
}
@media screen and (max-width: 1300px) {
  .pdf1 {
    margin: 1em 1em 1em 2em;
    height: 800px;
    border-radius: 7px;
    width: 95%;
  }
  .girafe {
    display: none;
  }
}

/* --------------------------------- Thème 2 -------------------------------- */

#lion {
  position: fixed;
  margin: 5em 0 0 0;
  left: 42%;
  z-index: 2;
}
section.sec1 {
  display: none;
  align-items: center;
}
div.t2-larp {
  margin: 1em 1em 1em 2em;
  width: 40em;
}
div.t2-algobox {
  margin: 1em 1em 1em 2em;
  width: 40em;
}
