/* TODO Ajouter une définition générale du style des images */

h1 { /*Titre des activtés */
  margin-top: 0;
  text-align: center;
  font-size: 28px;
}
h3 { /* Numéros des activités */
  margin-top: 2em;
  text-align: center;
  font-size: 22px;
}
h2 { /*Titre des elements */
  margin: 2em 2em 1em 2em;
}
p, ul {
  font-size: 15;
  line-height: 1.6;
  font-weight: 500;
}
ul {
  padding-left: 20px;
}
div.doc {
  padding: 1em 2em 1.5em 2em;
  margin: 1em;
  /* width: 30em; */
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
  line-height: 1.5;
  font-size: 1p6x;
}
div.t {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}
iframe.pdf {
  margin: 1em 1em 1em 2em;
  height: 800px;
  border-radius: 7px;
  box-shadow: var(--main-box-shadow);
}
/* --------------------------------- Thème 1 -------------------------------- */
#t1 {
  background-color: rgb(255, 158, 158);
}

@media screen and (min-width: 1300px) {
  .t1-pdf {
    width: 72%;
  }
  .girafe {
    height: 800px;
    width: 20%;
    border-radius: 10px;
    margin: 1em 1em 1em 2em;
    box-shadow: var(--main-box-shadow);
  }
}
@media screen and (max-width: 1300px) {
  .t1-pdf {
    width: 95%;
  }
  .girafe {
    display: none;
  }
}

/* --------------------------------- Thème 2 -------------------------------- */
#t2 {
  background-color: rgb(219, 205, 126);
}
div.t2-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
div.t2-larp {
  margin: 1em 0 1em 2em;
  width: 40em;
}
div.t2-algobox {
  margin: 1em 0 1em 2em;
  width: 40em;
}

/* --------------------------------- Thème 3 -------------------------------- */
#t3 {
  background-color: rgb(80, 209, 170);
}
div.t3-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
div.t3-elements img.python1 {
  margin: 1em 0 1em 2em;
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
}
div.t3-elements img.elephant {
  margin: 1em 1em 1em 2em;
  border-radius: 100%;
  box-shadow: var(--main-box-shadow);
}
div.t3-explication {
  margin: 1em 0 1em 2em;
  width: 40em;
}

/* --------------------------------- Thème 4 -------------------------------- */
#t4 {
  background-color: rgb(80, 166, 209);
}
div.t4-explication {
  margin: 1em 0 1em 2em;
  width: 40em;
}
div.t4-part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
div.t4-part1 img {
  height: 441px;
  border-radius: 10px;
  margin: 1em 1em 1em 2em;
  box-shadow: var(--main-box-shadow);
}
div.t4-part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
.t4-pdf {
  width: 40%;
}

/* --------------------------------- Thème 5 -------------------------------- */
#t5 {
  background-color: rgb(80, 110, 209);
}
div.t5-explication {
  margin: 1em 0 1em 2em;
  width: 60em;
}
div.t5-part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
div.t5-part1 img {
  height: 441px;
  border-radius: 10px;
  margin: 1em 1em 1em 2em;
  box-shadow: var(--main-box-shadow);
}
div.t5-part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}
.t5-pdf {
  width: 45%;
}